@import "tailwindcss";

:root {
  --rich: #01161eff;
  --eerie: #242423ff;
  --jet: #333435ff;
  --midnight: #124559ff;
  --slate: #6c757dff;
  --fred: #547d8dff;
  --air: #598392ff;
  --saffron: #f5cb5cff;
  --french: #adb5bdff;
  --ash: #aec3b0ff;
  --platinum: #cfd6dbff;
  --beige: #eff6e0ff;
  --antiflash: #e9ecefff;
  --background: var(--antiflash);
  --background-50: var(--platinum);
  --foreground: var(--eerie);
  --foreground-50:var(--rich);
  --primary: var(--midnight);
  --primary-50: var(--fred);
  --secondary: var(--air);
  --secondary-50: var(--slate);
  --accent: var(--saffron);
  --accent-50: var(--beige);
  --border: var(--jet);
  --barlow: 'Barlow', Arial, Helvetica, sans-serif;
  --canvas: 
    linear-gradient(120deg, #ffffffa3 0%, #a0a9be8c 57%, #60758ca8 93%),
    linear-gradient(147deg, #bbe0e2ff 14%, #cbd9e2ff 49%, #f5f5fbff 90%),
    linear-gradient(107deg, #ecf3f7ff 22%, #cbd9e2ff 55%, #f5f5fbff 93%),
    linear-gradient(111deg, #f5f5fbff 15%, #cbcbecd6 53%, #f5f5fbff 96%);
}

:root[data-theme="dark"] {
  --antiflash: #e9ecefff;
  --platinum: #cfd6dbff;
  --smoke: #dee2e6ff;
  --gray: #adb5bdff;
  --slate-gray: #6c757dff;
  --fred: #547d8dff;
  --outer-space: #495057ff;
  --jet: #333435ff;
  --saffron: #f5cb5cff;
  --eerie: #242423ff;
  --black: #212529ff;

  --background: var(--eerie);
  --background-50: var(--rich);
  --foreground: var(--antiflash);
  --foreground-50:var(--platinum);
  --primary: var(--midnight);
  --primary-50: var(--fred);
  --secondary: var(--air);
  --secondary-50: var(--slate);
  --accent: var(--saffron);
  --accent-50: var(--beige);

  --border: var(--jet);

  --canvas: 
    linear-gradient(120deg, #1e1c1ce6 0%, #23262af5 61%, #49494ae4 100%),
    linear-gradient(155deg, #111010 7%, #22272f 30%, #2c2c2cff 66%, #333334 96%),
    linear-gradient(142deg, #1a1919f9 30%, #262c34f5 75%, #4444457a 95%),
    linear-gradient(105deg, #101010 0%, #20262dff 22%, #181e26ff 49%, #4042438e 79%, #4b515ab4 95%),
    linear-gradient(115deg, #131212 0%, #2f3440ff 68%, #323232ff 93%);
}

*,
*::before,
*::after { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: inherit;
  list-style: none;
  text-decoration: none;
}

html, body {
  height: 100%;
  block-size: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color-scheme: light dark;
}

body {
  min-width: 100dvw;
  min-block-size: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  background-image: var(--canvas);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--foreground);
  font-family: var(--barlow), Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, a {
  font-family: inherit;
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  transition: 
    text-decoration 0.45s ease-in-out 0,
    opacity 0.45s ease-in-out 0,
    border 0.45s ease-in-out 0;
}

button:hover,
a:hover {
  border: var(--foreground) solid 1px;
  background: var(--background);
  border-radius: 4px;
  text-decoration: underline;
}
